[Unit]
Description=consul
Documentation=https://consul.io/docs/

[Service]
ExecStart=/usr/local/bin/consul agent -config-file=/etc/consul/server.hcl -data-dir=/var/lib/consul
  
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=65536
Restart=always

[Install]
WantedBy=multi-user.target
